@media screen and (max-width: 1368px) {
    .form-img {
        display: none;
    }

    main {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1096px) {
    main {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}